#hourHand{
    width: 6px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    top: 78px;
    left: 93px;
    z-index: 10;
    transform: rotate(360deg);
    transform-origin: bottom center;
}

#minuteHand{
    width: 4px;
    height: 51px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    top: 68px;
    left: 93.5px;
    transform: rotate(360deg);
    transform-origin: bottom center;
}

#secondHand{
    width: 2px;
    height: 51px;
    background-color:red;
    border-radius: 4px;
    position: absolute;
    top: 68px;
    left: 93.5px;
    z-index: 0;  
    transform: rotate(360deg);
    transform-origin: bottom center;
}